extends layout

block customCSS
		link(href='/css/footer.css', rel='stylesheet')

block content
	.navbar.navbar-default.navbar-static-top(role='navigation')
		.container
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='/admin') Ibiza
			.navbar-collapse.collapse
				ul.nav.navbar-nav
					li.active
						a(href='/admin') Home
				ul.nav.navbar-nav
					li
						a(href='/admin/estadisticas') Estadisticas

	.container
		table.table.table-hover
			thead
				tr
					th Email
					th Name
					th Last Name
					th Datos
					th ID
					th ESNCARD
					th Responsabilidad
					th Policia
					th Pago
					th Valido
			tbody
				each erasmus in data
					+row(erasmus.public.ok)
						td 
							a(href='/admin/#{erasmus.public.email}') #{erasmus.public.email}
						td #{erasmus.public.name}
						td #{erasmus.public.lastname}
						+cell(erasmus.public.controlData, erasmus.public.errorData)
						+cell(erasmus.public.controlId, erasmus.public.errorId)
						+cell(erasmus.public.controlCard, erasmus.public.errorCard)
						+cell(erasmus.public.controlResponsable, erasmus.public.errorResponsable)
						+cell(erasmus.public.controlPolicia, erasmus.public.errorPolicia)
						+cell(erasmus.public.controlPago, erasmus.public.errorPago)
						+fin(erasmus.public.ok)
	
	include footer

mixin row(ok)
	if ok === true
		tr.success
			if block
				block
	else
		tr
			if block
				block

mixin cell(control, error)
	if control
		td.success 
			i.fa.fa-smile-o.fa-2x
	else if error !== ''
		td.danger
			i.fa.fa-frown-o.fa-2x
	else if !control
		td.warning 
			i.fa.fa-meh-o.fa-2x

mixin fin(ok)
	if ok === true
		td.success Va!!
	else
		td.warning No Va!!
