extends layout

block customCSS
		link(href='/css/custom.css', rel='stylesheet')

block content
	.navbar.navbar-default.navbar-static-top(role='navigation')
		.container
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='/dashboard') Ibiza
			.navbar-collapse.collapse
				ul.nav.navbar-nav
					li.active
						a(href='/dashboard') Home
					li
						a(href='/dashboard/info') Info 
					li
						a(href='/dashboard/docs') Docs
				ul.nav.navbar-nav.navbar-right
					li.active
						a(href='') Log with #{user.email}

	.container
		.jumbotron
			h1 Things To Do!
			p
				| In order to get a spot for the ESN IBIZA Trip, you need to follow some steps, pay, fullfill your 
				a(href='/dashboard/info') information
				|, upload a copy of your ID, ESNcard and a payment proof. Also for the appartment, you need to fullfill 
				a(href='/dashboard/docs') some paperwork.
			p Once you have complete these two steps, we will check your information and your docs, if everthing is OK, start packing, otherwise we will contact you.

		.row
			h2 State of happiness
			.col-md-5.col-md-offset-1
				i.fa.fa-info-circle.fa-5x
				h3 Information
				ul
					if user.name === ''
						li You need to upload your information - 
							i.fa.fa-meh-o.fa-2x
					else if user.controlData
						li.text-success Your info is ok - 
							i.fa.fa-smile-o.fa-2x
					else if user.errorData !== ''
						li.text-danger There is something wrong, check your info again! - 
							i.fa.fa-frown-o.fa-2x
					else if !user.controlData
						li.text-primary You have uploaded your info, we will check it!

					if user.fileId === ''
						li You need to upload a copy of your ID - 
							i.fa.fa-meh-o.fa-2x
					else if user.controlId
						li.text-success Your ID is ok - 
							i.fa.fa-smile-o.fa-2x
					else if user.errorId !== ''
						li.text-danger There is something wrong with your ID, check your upload again! - 
							i.fa.fa-frown-o.fa-2x
					else if !user.controlId
						li.text-primary You have uploaded your ID, we will check it!

					if user.fileCard === ''
						li You need to upload a copy of your ESN CARD - 
							i.fa.fa-meh-o.fa-2x
					else if user.controlCard
						li.text-success Your ESN CARD is ok - 
							i.fa.fa-smile-o.fa-2x
					else if user.errorCard !== ''
						li.text-danger There is something wrong with your ESNcard, check your upload again! - 
							i.fa.fa-frown-o.fa-2x
					else if !user.controlCard
						li.text-primary You have uploaded your ESN CARD, we will check it!

			.col-md-5
				i.fa.fa-file-text.fa-5x
				h3 Documents
				ul
					if user.fileResponsable === ''
						li You need to upload the Responsability exception - 
							i.fa.fa-meh-o.fa-2x
					else if user.controlResponsable
						li.text-success Your responsability exception is ok - 
							i.fa.fa-smile-o.fa-2x
					else if user.errorResponsable !== ''
						li.text-danger There is something wrong with the exception, check your upload again! - 
							i.fa.fa-frown-o.fa-2x
					else if !user.controlResponsable
						li.text-primary You have uploaded the responsability, we will check it! 

					if user.filePolicia === ''
						li You need to upload the Appartment paper - 
							i.fa.fa-meh-o.fa-2x
					else if user.controlPolicia
						li.text-success Your Appartment paper is ok - 
							i.fa.fa-smile-o.fa-2x
					else if user.errorPolicia !== ''
						li.text-danger There is something wrong with Police paper, check your info again! - 
							i.fa.fa-frown-o.fa-2x
					else if !user.controlPolicia
						li.text-primary You have uploaded the Appartment paper, we will check it! 

					if user.filePago === ''
						li You need to upload the proof of payment - 
							i.fa.fa-meh-o.fa-2x
					else if user.controlPago
						li.text-success Your payment is ok - 
							i.fa.fa-smile-o.fa-2x
					else if user.errorPago !== ''
						li.text-danger There is something wrong with the payment, check your upload again! - 
							i.fa.fa-frown-o.fa-2x
					else if !user.controlPago
						li.text-primary You have uploaded your payment, we will check it! 
					
	include footer