extends layout

block customCSS
		link(href='/css/custom.css', rel='stylesheet')

block content
	.navbar.navbar-default.navbar-static-top(role='navigation')
		.container
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='/dashboard') Ibiza
			.navbar-collapse.collapse
				ul.nav.navbar-nav
					li
						a(href='/dashboard') Home
					li
						a(href='/dashboard/info') Info 
					li.active
						a(href='/dashboard/docs') Docs
				ul.nav.navbar-nav.navbar-right
					li.active
						a(href='') Log with #{user.email}

	.container
		h1 Documents
		h4 We need this documents, because the appartment ask for them.
		p You have to fill these documents:
		ul
			li 
				a(href='/FormularioPolicia.doc') Police Document 
			li
				a(href='/FormularioResponsabilidad.doc') Responsability Document
		p These two files are an example of how to fill the documents:
		ul
			li 
				a(href='/EJEMPLO_FormularioPolicia.pdf') Example of Police Document 
			li
				a(href='/EJEMPLO_FormularioResponsabilidad.pdf') Example of Responsability Document

	.container
		h2 Your documents
		form.col-md-4(role='form', method='post', enctype='multipart/form-data' action='/dashboard/docs/responsable')
			.form-group
				label(for='fileResponsable') 
					if user.fileResponsable
						a(href='/#{user.fileResponsable}') Your Responsability paper
					else
						| Copy of your Responsability exception
				input#fileResponsable(type='file', name='file')
				p.help-block Files (.pdf, .jpeg, .jpg, .png) up to 2MB.
			button.btn.btn-default(type='submit') Submit the Responsability paper

		form.col-md-4(role='form', method='post', enctype='multipart/form-data' action='/dashboard/docs/policia')
			.form-group
				label(for='filePolicia') 
					if user.filePolicia
						a(href='/#{user.filePolicia}') Your Police paper
					else
						| Copy of the Police paper
				input#filePolicia(type='file', name='file')
				p.help-block Files (.pdf, .jpeg, .jpg, .png) up to 2MB.
			button.btn.btn-default(type='submit') Submit the Police paper

		form.col-md-4(role='form', method='post', enctype='multipart/form-data' action='/dashboard/docs/pago')
			.form-group
				label(for='filePago') 
					if user.filePago
						a(href='/#{user.filePago}') Your Payment proof
					else
						| Proof of payment
				input#filePago(type='file', name='file')
				p.help-block Files (.pdf, .jpeg, .jpg, .png) up to 2MB.
			button.btn.btn-default(type='submit') Submit the Payment' proof

	include footer