.container
		h1 FAQ
		ul
			li 	strong ¿Es verdad que si no vas con ESN no podrás acceder a las fiestas?
 
			li	Sí, es cierto, ya que las fiestas son exclusivas para los estudiantes que viajen con el pack completo con ESN. No habrá posibilidad de vender las entradas extras a quien no viaje con nosotros.
				 
			li strong He oído que algunos estudiantes el año pasado no pudieron acceder a algunas discotecas. ¿Es esto cierto?
				 
			li Sí, es cierto. Hay gente que viendo un precio más barato, decide comprar viajes diferentes a ESN. Estos viajes suelen tener este precio porque no incluyen las fiestas nocturnas ni consumiciones en ellas. Si quieres disfrutar de todas las noches a tope al más puro estilo ESN, asegúrate una plaza en nuestro viaje. Todas nuestras fiestas son exclusivas para ESNers.
				 
			li strong ¿Puede venir al viaje a Ibiza un amigo mío de otra universidad, ciudad, país etc.?
				 
			li Si, puede venir. En el momento de hacer el registro en el campo ''Universidad'' deberá seleccionar ''Otras universidades''. Pero primero debes asegurarte que en su ciudad no hay ninguna sección de ESN que asista al viaje a Ibiza y que compre una ESNcard de cualquiera de las 4 secciones ESN que hay en Barcelona.
				 
			li strong He hecho un erasmus en Barcelona pero ya he vuelto a mi país. ¿Puedo venir desde allí?
				 
			li ¡Claro que puedes! Así harás un gran remember de tu erasmus en Barcelona. Acuérdate de tener una ESNcard válida.
				 
			li strong ¿Por qué aún no se ha confirmado mi pago?
				 
			li Hay varias opciones. Puede ser que hayas hecho una transferencia internacional y que esté tardando en llegar. En cuanto la veamos, te confirmaremos el pago. Puede ser que no te hayas registrado y subido el documento de pago: hazlo cuanto antes y te lo confirmaremos.
				 
			li strong ¿Qué pasa si me han robado y ya no tengo el mismo ID que os envié?
				 
			li Envíanos la denuncia y la copia de documento con la foto que usas ahora.
				 
			li strong ¿Para qué sirve el documento de la policía?
				 
			li Todos los hoteles piden a sus clientes sus datos identificativos para más tarde enviarlos a la policía. De esta manera comprueban si está persona tiene algo pendiente en este país. No os preocupéis, es sólo rutina.
				 
			li strong ¿Por qué tengo que rellenar el documento de exención de responsabilidad?
				 
			li Este documento es un compromiso de buen comportamiento. En el caso de no comportarse adecuadamente, los miembros de ESN tienen todo el derecho a tomar las decisiones correspondientes. Todos sois mayores de edad con lo cual nosotros no tenemos que responder por ninguno de los estudiantes.
				 
			li strong ¿El precio incluye las fiestas?
				 
			li Si, todas las fiestas están incluidas en el precio. Además disfrutaréis de una copa en cada fiesta.
				También tenéis incluido el transporte en aquellas que sea necesario.
				 
			li strong ¿Puedo pagar el viaje sin ESNcard y comprarla luego?
				 
			li No, tienes que tener tu ESNcard cuando realices el pago y poner el nº de tu ESNcard en el concepto de ingreso.
				 
			li strong ¿Si tengo alguna duda sobre el viaje, qué debo hacer?
				 
			li En caso de que tengas dudas o preguntas, puedes enviar un email a: ibiza@esnbarcelona.org.
				 
			li strong Al ESN Ibiza Trip, acuden amigos míos que están haciendo su erasmus en otra ciudad española ¿Si soy de una universidad diferente a la de mi amiga/o, podemos dormir en la misma habitación?
				 
			li strong Si viaja con ESN Barcelona te alojarás en el mismo hotel y podrás compartir la habitación con tu amigo/a. Si por el contrario viaja con otra sección esto no será posible ya que cada sección se aloja en un hotel distinto y se encarga de sus propios erasmus.
				 
			li strong ¿Si soy de fuera de la UE, necesito algún documento extra?
				 
			li Debes enviarnos tu documento de identidad y el visado necesario para estar en España.
				 
			li strong ¿En vez de ID o pasaporte puedo enviar el carnet de conducir?
				 
			li No, porque el carnet de conducir no es un documento oficial de identificación y los hoteles no lo aceptan en sus registros.
				 
			li strong ¿Por qué es mejor no pagar desde una cuenta internacional?
				 
			li No es recomendable ya que el pago tarda más en llegar a nuestra cuenta y hacerse efectivo, de esta manera tardaremos más en confirmarte tu pago. En el caso de que se acaben las plazas y algún pago desde una cuenta nacional llegue antes, tú pasarás a la lista de espera.
				 
			li strong ¿Hay un deadline para los documentos?
				 
			li No existe un deadline exacto para ello, si bien debes saber que  no permitiremos subir a ningún asistente al viaje al barco si previamente no nos ha enviado los documentos.  Además, como estos documentos son muy importantes, tu viaje no estará completamente confirmado hasta que no los tengamos. Si hay lista de espera, daremos prioridad a aquellos que ya hayan enviado todos los documentos aunque hayan pagado más tarde que tú.
				 
			li strong No tengo escaner en mi casa. ¿Cómo puedo subir los documentos?
				 
			li Si no tienes escaner, pregunta a tus amigos. Si ellos no pueden ayudarte en la biblioteca de tu universidad seguro que encontrarás un escaner.
				 
			li strong Soy un estudiante español. ¿Puedo asistir al viaje?
				 
			li Sí, puedes asistir, el viaje está abierto a todos los estudiantes. En el momento de hacer el registro en el campo ''Universidad'' deberá seleccionar ''Otras universidades'' o la universidad a la que perteneces. Tendrás que comprar una ESNcard para ello.
				 
			li strong ¿Cuánto tardáis en confirmar la plaza?
				 
			li En el momento que recibamos tu documento de pago y lo comprobemos en nuestra cuenta bancaria, podrás realizar el siguiente paso, subir tus documentos, una vez confirmado que son correctos, ya tendrás tu plaza reservada. Te enviaremos un correo confirmándolo. Llevaremos un control diario de vuestro registro, por tanto en uno o dos días deberíais tener confirmación de cada proceso.
				 
			li strong ¿Puedo ir con el grupo de Barcelona en el barco de ida y volver con otro grupo a otro lugar?
				 
			li No, esto no es posible ya que cada grupo dispone de las plazas de barco necesarias para sus estudiantes.
				 
			li strong He visto en un evento en facebook de ESN de otra ciudad fechas diferentes a las que se dicen en la web. ¿Por qué?
				 
			li Puede ser que hayas visto un evento que no sea el de ESN Barcelona. Las secciones que salimos desde Barcelona lo haremos en un horario diferente al resto de España.			
				 
				 
			li strong Ya he pagado mi viaje pero no puedo asistir. ¿Me devolvéis el dinero?
				 
			li La cantidad de dinero reembolsada en caso de cancelación por causa justificada dependerá de la fecha en que la misma se produzca:
			ul
				li Hasta el 21 de Marzo se devolverá el 100% del importe
				li Entre el 22 de Marzo y el 28 de Marzo se devolverá el 50% del importe
				li A partir del 28 de Marzo no se devolverá ninguna parte del importe
				 
			li strong ¿Podéis darme la información sobre las habitaciones?
				 
			li De momento eso no será posible, en cuanto tengamos la información sobre los hoteles y las habitaciones os enviaremos la información correspondiente.
				 
			li strong ¿Se me puede guardar la plaza para el viaje?
				 
			li No podemos guardarte ninguna plaza si no pagas previamente.
				 
			li strong ¿Puedo ir menos días pagando otro precio?
			li Lo sentimos pero esto no es posible. Si quieres venir al viaje deberás pagar el pack entero aunque decidas venir menos días.
				 
			li strong Tengo amigos que han comprado otro viaje no ESN para Ibiza. ¿Pueden entrar a las fiestas conmigo?
				 
			li Tus amigos no podrán disfrutar de las fiestas ESN ya que son exclusivas para ESNers. Si quieren asistir a las fiestas del viaje ESN a Ibiza deberán inscribirse en nuestro viaje y pagar el pack completo.
				 
			li strong ¿Qué pasa si no tengo compañeros de habitación?
				 
			li Cuando organicemos las habitaciones, infórmanos de ello. Dinos si eres chico o chica y tus preferencias a la hora de escoger a tus acompañantes. Haremos lo posible para que te sientas lo más cómodo que puedas. También puedes enviar un email a nuestro correo con una foto completa, tu CV y decirnos si eres chico o chica y los coordinadores intentaremos alojarte en una de nuestras habitaciones, dónde habrá mucho amor y cariño ;)
				 
			li strong ¿Qué pasa si pierdo mis entradas a las fiestas?
			li Debes tener mucho cuidado con tus entradas ya que si las pierdes no podemos garantizarte que entres a las fiestas.
				 
			li strong He hecho el pago con otros 2 amigos, ¿tenemos que rellenar el formulario por separado?
				 
			li Cada uno de vosotros debe registrarse y rellenar el formulario por separado. En el momento de subir el documento de pago subís cada uno una copia del mismo. Tened en cuenta que los nombres y apellidos de todos deben aparecer en el concepto.
				 
			li strong No me decido entre meter en la maleta mi tanga de leopardo y mi bikini con transparencias. ¿Hay algún límite de peso?
				 
			li Realmente no hay ningún límite establecido para el peso de las maletas que se pueden transportar en el barco. Puedes traerte los 2 y dejar la decisión para más adelante, según cómo te sientas por la mañana.
				 
			li strong Quiero cambiarme el color de las uñas para que me combinen con el bikini que lleve cada día. ¿Hay alguna restricción de líquidos en el barco?
				 
			li No existe restricción de líquidos en el barco. Feel free de traértelos todos!
				 
			li strong Mi tanga con trompa de elefante no me cabe en la maleta ¿puedo llevarlo puesto durante el viaje en el barco?
				 
			li En el barco podrás hacernos disfrutar de tus atributos, si bien cuando hagamos el check-in en el puerto deberás ir un poco más tapado. De todas maneras, debes saber que estás de enhorabuena! En Ibiza y Formentera, está más que permitido el nudismo.
				 
			li  strong  Mi novia de los fines de semana estará en una habitación, mientras que la de cada día estará en otra, ¿por la noche podría cambiarme de mi habitación a alguna de las suyas, y después de una de ellas a la de la otra?
				 
			li Durante la noche puedes dormir con cualquiera de ellas, de todas formas y para que no tengas problemas con ninguna de ellas te recomendamos que tengas el campamento base en tu habitación, nunca sabes si conocerás a la tercera...	Debéis saber que no estaremos solos en el hotel y debéis tener un comportamiento decente por las noches.
				 
			li strong He decidido llevarme cuatro cajas de condones al viaje Ibiza, ¿tendré suficiente? ¿Podré comprarlos en Ibiza si me faltan?
				 
			li No te preocupes en Ibiza dispones de todo tipo de comercios donde comprar todo lo necesario para sobrevivir y disfrutar del viaje ESN.
