extends layout

block customCSS
  link(href='/css/landing.css', rel='stylesheet')

block content
  //Side Menu 
  a#sign-toggle.btn.btn-success(href='/sign') Sign up
  a#login-toggle.btn.btn-primary(href='/login') Login
  //a.btn.btn-success.navbar-fixed-top.pull-right(href='/login') Login

  //Full Page Image Header Area 
  #top.header
    .vert-text
      h1 ESN Ibiza Trip
      h2  with ESN BCN
      h3
        em 
          | The 9th edition of the world's largest trip is ready.
      h3
        em
          | Now we only need you yo make it great!"
      a.btn.btn-default.btn-lg(href='#about') Find Out More

  //Intro 
  #about.intro
    .container
      .row
        .col-md-12
          img.img-portfolio.img-responsive(src='img/logoub.jpg')
          img.img-portfolio.img-responsive(src='img/logouab.jpg')
          img.img-portfolio.img-responsive(src='img/logoupc.png')
          img.img-portfolio.img-responsive(src='img/logoupf.jpg')
          img.img-portfolio.img-responsive(src='img/logobcn.jpg')
  #trip
    .container
      .row
        .col-md-4.col-md-offset-4.text-center
        h2 The Ibiza experience
        hr
      .row
        .col-md-8.col-md-offset-2
          #carousel-example-generic.carousel.slide(data-ride='carousel')
            //Indicators 
            ol.carousel-indicators
              li.active(data-target='#carousel-example-generic', data-slide-to='0')
              li(data-target='#carousel-example-generic', data-slide-to='1')
              li(data-target='#carousel-example-generic', data-slide-to='2')
              li(data-target='#carousel-example-generic', data-slide-to='3')
              li(data-target='#carousel-example-generic', data-slide-to='4')
              li(data-target='#carousel-example-generic', data-slide-to='5')
              li(data-target='#carousel-example-generic', data-slide-to='6')
              li(data-target='#carousel-example-generic', data-slide-to='7')
              li(data-target='#carousel-example-generic', data-slide-to='8')
            // Wrapper for slides 
            .carousel-inner
              .item.active
                img(src='/img/pibiza_7.jpg')
                .carousel-caption
                  | Barcelona to Ibiza
              .item
                img(src='/img/pibiza_2.jpg')
                .carousel-caption
                  | A ship will deliver us to Ibiza during the night... Of course we're going to warm up the trip there :D
              .item
                img(src='/img/pibiza_1.jpg')
                .carousel-caption
                  | Apartments with pool, to relax and of course to keep on the party! You'll love our legendary Pool Parties!
              .item
                img(src='/img/pibiza_6.jpg')
                .carousel-caption
                  | Parties
              .item
                img(src='/img/pibiza_8.jpg')
                .carousel-caption
                  |  With so much party you will need some relax. We will also visit the island of Formentera. The true Paradise on Earth
              .item
                img(src='/img/pibiza_21.jpg')
                .carousel-caption
                  | Tourism
              .item
                img(src='/img/pibiza_11.jpg')
                .carousel-caption
                  | Impossible to get bored! We plan the most awesome parties ever, in the best Clubs! Space, Eden, Privilege, Es Paradis, ONLY for ESN!
              .item
                img(src='/img/pibiza_12.jpg')
                .carousel-caption
                  | You
              .item
                img(src='/img/pibiza_15.jpg')
                .carousel-caption
                  | We organize the trip, you make it great! There will be more than 2000 erasmus all over Spain, but we need YOU!
            //Controls 
            a.left.carousel-control(href='#carousel-example-generic', data-slide='prev')
              span.glyphicon.glyphicon-chevron-left
            a.right.carousel-control(href='#carousel-example-generic', data-slide='next')
              span.glyphicon.glyphicon-chevron-right

  //Services 
  #services.services
    .container
      .row
        .col-md-2.col-md-offset-2.text-center
          .service-item
            i.service-icon.fa.fa-anchor
            h4 Barcelona to Ibiza
            p
              | We take a boat! but not a normal one, we take the party boat!! So we start partying all along :)
        .col-md-2.text-center
          .service-item
            i.service-icon.fa.fa-building-o
            h4 Apartments
            p
              | Apartments with pool, so you can from relax to party!
        .col-md-2.text-center
          .service-item
            i.service-icon.fa.fa-glass
            h4 Parties
            p
              | Impossible to get bored! We plan the most awesome parties ever!
        .col-md-2.text-center
          .service-item
            i.service-icon.fa.fa-heart
            h4 You
            p
              |  We organize the trip, you make it better!

  //Callout 
  .callout
    .vert-text
      h1 Full Experience

  //Call to Action 
  .call-to-action
    .container
      .row
        .col-md-6.col-md-offset-3.text-center
          h3 Sign up, follow the steps and pack your luggage
          a.btn.btn-lg.btn-primary(href='/sign') Sign up

  //Footer 
  footer
    .container
      .row
        .col-md-6.col-md-offset-3.text-center
          ul.list-inline
            li
              a(href='https://www.facebook.com/EsnBarcelona')
                i.fa.fa-facebook.fa-3x
            li
              a(href='https://twitter.com/ESN_BCN')
                i.fa.fa-twitter.fa-3x
            .top-scroll
              a(href='#top')
                i.fa.fa-circle-arrow-up.scroll.fa-4x
              hr
              p
                | Done by 
                a(href="http://esnbarcelona.org") ESN Barcelona 
                | with 
                i.fa.fa-heart


  //JavaScript 
  script(src='js/jquery-1.10.2.js')
  script(src='js/bootstrap.js')

  //Custom JavaScript for Smooth Scrolling 
  script.
    $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
