extends layout

block customCSS
  link(href='/css/landing.css', rel='stylesheet')

block content
  //Side Menu 
  a#sign-toggle.btn.btn-success(href='/sign') Sign up
  a#login-toggle.btn.btn-primary(href='/login') Login
  //a.btn.btn-success.navbar-fixed-top.pull-right(href='/login') Login

  //Full Page Image Header Area 
  #top.header
    .vert-text
      h1 ESN Ibiza Trip
      h2  with ESN BCN
      h3
        em 
          | The 9th edition of the world's largest trip is ready.
      h3
        em
          | Now we only need you yo make it great!"
      a.btn.btn-default.btn-lg(href='#about') Find Out More

  //Intro 
  #about.intro
    .container
      .row
        .col-md-12
          img.img-portfolio.img-responsive(src='img/logoub.jpg')
          img.img-portfolio.img-responsive(src='img/logouab.jpg')
          img.img-portfolio.img-responsive(src='img/logoupc.png')
          img.img-portfolio.img-responsive(src='img/logoupf.jpg')
          img.img-portfolio.img-responsive(src='img/logobcn.jpg')
  #trip
    .container
      .row
        .col-md-4.col-md-offset-4.text-center
        h2 The Ibiza experience
        hr
      .row
        .col-md-8.col-md-offset-2
          #carousel-example-generic.carousel.slide(data-ride='carousel')
            //Indicators 
            ol.carousel-indicators
              li.active(data-target='#carousel-example-generic', data-slide-to='0')
              li(data-target='#carousel-example-generic', data-slide-to='1')
              li(data-target='#carousel-example-generic', data-slide-to='2')
              li(data-target='#carousel-example-generic', data-slide-to='3')
              li(data-target='#carousel-example-generic', data-slide-to='4')
              li(data-target='#carousel-example-generic', data-slide-to='5')
              li(data-target='#carousel-example-generic', data-slide-to='6')
              li(data-target='#carousel-example-generic', data-slide-to='7')
              li(data-target='#carousel-example-generic', data-slide-to='8')
              li(data-target='#carousel-example-generic', data-slide-to='9')
            // Wrapper for slides 
            .carousel-inner
              .item.active
                img(src='/img/pibiza_7.jpg')
                .carousel-caption
                  | Observa el atardecer
              .item
                img(src='/img/pibiza_2.jpg')
                .carousel-caption
                  | Enjoy the Mediterranean Sea
              .item
                img(src='/img/pibiza_1.jpg')
                .carousel-caption
                  | Some relax after before the party?
              .item
                img(src='/img/pibiza_6.jpg')
                .carousel-caption
                  | Exclusive parties for ESN
              .item
                img(src='/img/pibiza_8.jpg')
                .carousel-caption
                  | Discover Formentera
              .item
                img(src='/img/pibiza_21.jpg')
                .carousel-caption
                  | Conoce la isla
              .item
                img(src='/img/pibiza_11.jpg')
                .carousel-caption
                  | Cae el sol, empieza la noche
              .item
                img(src='/img/pibiza_12.jpg')
                .carousel-caption
                  | Study hard, Party harder!
              .item
                img(src='/img/pibiza_15.jpg')
                .carousel-caption
                  | Have fun with your friends
            //Controls 
            a.left.carousel-control(href='#carousel-example-generic', data-slide='prev')
              span.glyphicon.glyphicon-chevron-left
            a.right.carousel-control(href='#carousel-example-generic', data-slide='next')
              span.glyphicon.glyphicon-chevron-right

  //Services 
  #services.services
    .container
      .row
        .col-md-2.col-md-offset-2.text-center
          .service-item
            i.service-icon.fa.fa-anchor
            h4 Barcelona to Ibiza
            p
              | A ship will deliver us to Ibiza during the night... Of course we're going to warm up the trip there :D
        .col-md-2.text-center
          .service-item
            i.service-icon.fa.fa-building-o
            h4 Apartments
            p
              | Apartments with pool, to relax and of course to keep on the party! You'll love our legendary Pool Parties!
        .col-md-2.text-center
          .service-item
            i.service-icon.fa.fa-glass
            h4 Parties
            p
              | Impossible to get bored! We plan the most awesome parties ever, in the best Clubs! Space, Eden, Privilege, Es Paradis, ONLY for ESN!
        .col-md-2.text-center
          .service-item
            i.service-icon.fa.fa-heart
            h4 You
            p
              |  We organize the trip, you make it great! There will be more than 2000 erasmus all over Spain, but we need YOU
  //Callout 
  .callout
    .vert-text
      h1 Keep Reading ;)

  .offer
    .container
      .row
        h1 The Details
        h2 When?
        p
          strong The departure is on April 29th, and we will arrive to Barcelona on Monday 5th May early in the morning 
        h2 What do we offer?
        p Have  a look at all the exclusive events and services included in the ESN Ibiza trip 2014 by ESN Barcelona:
        strong General
        ul
          li BOAT BCN-IBIZA/IBIZA-BCN Enjoy the boat party to and from the island!!
          li BOAT BCN-IBIZA/IBIZA-BCN Enjoy the boat party to and from the island!!
          li Accomodation 4 nights. Exclusive apartments for ESN with full-equiped kitchen and bathroom.
          li BUS Boat-Hotel/Hotel-Boat for both arrival and departure to/from the island.
          li BUS for the parties
          li Trip insurance which covers health costs, accidents,...
          li ESN survival pack for Ibiza
          li Buses to and from the parties 
          li Excursion to Formentera island (Private boat for ESN to Formentera!).A fantastic chance to enjoy a day in the sea and enjoy the beaches of Formentera.
          li Guided tour to historic center of ibiza
          li All the ESN Spirit!
          li A lot of surprises and fun
        p Ohh… and what about the parties? We have the best… and you know what? The parties would be for us… ONLY FOR THE ESN PEOPLE!
        strong Parties:
        ul
          li Pool Parties (every day) at the apartments
          li ESN PARTY @ EDEN. (Entrance + 1 long drink)
          li ESN PARTY @ PRIVILEGE (The biggest club in the world exclusively for us) (Entrance + 1 Long drink included)
          li ESN WATER PARTY @ ES PARADÍS. Dance in the water!! ¡Many erasmus say that it is the best party of their lives!! (Entrance + 1Long drink included)
          li ESN PARTY @ SPACE (Entrance + 1 long drink included)
        p Besides, you will have the chance to visit Ibiza. A fantastic island with plenty of very beautiful corners and wonderful beaches
        p Do not miss  this expercience that only ESN can bring to you!
        p All included for just: 
          strong 285 €
        strong Deadline: March 31

        p In case you have questions send an e-mail to: 
          a(href='mailto:ibiza@esnbarcelona.org' target='_top') ibiza@esnbarcelona.org
        br
        h2 How to get your sport
        p To complete your inscription you have to follow four easy steps. You are about to start the shortest way to a unique week of unlimited fun in the White Island!!!
        strong VERY IMPORTANT!!! If you don’t follow the four steps correctly, IT WON’T BE POSSIBLE to confirm your place. go ahead!!!
        h3 Step 1 - Do the payment
        p The only way to book a trip to Ibiza is paying for it. So, hurry up and thus you’ll be sure that you have a spot. Last year our trip to Ibiza was sold out very soon. You have to pay: 
          strong 285€ 
        p In any office of “SANTANDER” in the account number: 
          strong 0049 6125 26 2190040266 
        strong IMPORTANT! In the concept of the payment write down: IBIZA, name and surname. Do not lose the proof of payment.
        p We do not recommend you to do international transfers, but if you are now abroad and can’t help doing it… 
          strong IBAN:  IBAN ES80 0049 6125 2621 9004 0266 
          | and 
          strong SWIFT: BSCHESMM 
          p If you do an international transfer the expenditures derived from it must be supported by you, they are not shared.
 
        h3 Step 2 – Register!
        p Once you’re done with the payment, you have to register click on the top right corner, where says Log in.
        ul
          li Open the scrolling panel in the top-right corner and enter your email address and your name (it must be a valid email address, because we will send your password in a few minutes to continue with your registration. You will need your email and password for the following steps.
          li Pay attention to your inbox because you will receive your password and further instructions after a few minutes.
          li Once you have your password, log in using the scrolling panel and write your e-mail and the password we have given to you to continue with the registration.
          li It is necessary to fill in the form personally, one form per person, despite the fact that you have paid more than one trip in just one payment).
 
        h3 Step 3- Type in your data
        ul
          li After logging in, reopen the panel, and fill in your details in "Fill your data"
          li VERY IMPORTANT! To attend the ESN Ibiza trip it is mandatory to accept the Terms & Conditions of the trip, so read them carefully and when you have understood them, mark the appropriate box (if you have any questions, please email ibiza@esnbarcelona.org).
        p Once you’re done, upload your information by clicking on "Update information".
 
        h3 Step 4- Upload the requested documents
        p After having completed your details, you can move forward.
          Now you have to upload a few documents, so open the panel again, and go to 
          strong "Upload your Documents" 
          First of all you must download, fill in and sign the 2 documents you can find here:
        ol
          li Police document Link a doc y a ejemplo
          li Exemption of responsibility document Link a doc y a ejemplo
        p Once you have complete the documents, scan them. There are five documents to upload:
        ul
          li A copy of your ID or passport. In case you are sending the passport we just need the page with your personal data. If you are sending your ID, then you should upload both sides of the document in one single file.
          li A copy of you ESN Card.
          li A copy of the proof of payment.
          li The exemption of responsibility document already filled in.
          li The police document already filled in.
 
        p You have to be sure that the resolution of the images is high enough such that we are able to identify all its numbers and letters. We cannot confirm your place until we have all the documents dully filled and understandable.
          When you are done with all the documents, 
          strong upload them by clicking “Uploading file” in every one of them.
        | If you have succeeded on doing it correctly you will get an email confirming your place on the trip:
 
        h2 CONGRATULATIONS, YOU ARE PART OF THE IBIZA TRIP 2014!!! :D

  //Call to Action 
  .call-to-action
    .container
      .row
        .col-md-6.col-md-offset-3.text-center
          h3 Sign up, follow the steps and pack your luggage
          a.btn.btn-lg.btn-primary(href='/sign') Sign up

  //Footer 
  footer
    .container
      .row
        .col-md-6.col-md-offset-3.text-center
          ul.list-inline
            li
              a(href='https://www.facebook.com/EsnBarcelona')
                i.fa.fa-facebook.fa-3x
            li
              a(href='https://twitter.com/ESN_BCN')
                i.fa.fa-twitter.fa-3x
            .top-scroll
              a(href='#top')
                i.fa.fa-circle-arrow-up.scroll.fa-4x
              hr
              p
                | Done by 
                a(href="http://esnbarcelona.org") ESN Barcelona 
                | with 
                i.fa.fa-heart
                p
                  a(href='/terms') T&C 
                  | - 
                  a(href='/faq') FAQ


  //JavaScript 
  script(src='js/jquery-1.10.2.js')
  script(src='js/bootstrap.js')

  //Custom JavaScript for Smooth Scrolling 
  script.
    $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
