extends layout

block content
	.navbar.navbar-default.navbar-static-top(role='navigation')
		.container
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='#') Ibiza
			.navbar-collapse.collapse
				ul.nav.navbar-nav
					li
						a(href='/terms') Español
					li.active
						a(href='/terms/en') English

	.container
		h1 Terms & Conditions
		ul
			li No data belonging to registered students will be shared with third parties.
			li ESN will only use personal details to send information to the students about the trip or about other aspects of their interest.
			li No student shall get on the boat if he or she has not previously filled in and signed all the documents required during the registration. Same condition applies for having paid the trip.
			li In case of a justified cancellation, the amount of money to be refunded depends on the date it is requested:
			ul
				li 100% of the total amount will be refunded until March 16th
				li 50% of the total amount will be refunded between March 17th & April 13th
				li No money will be refunded from April 14th onwards.
			li The non-attendance to the trip means losing the possibility of having your money refunded.
			li Every personal information given during the registration process has to be valid. ESN is not responsible for the consequences caused by incorrect data.
			li ESN is not responsible for any robberies, muggings, pickpockets or loss of personal belongings during the trip.
			li ESN reserves the right to modify the trip schedule if thereby implies improving the experience.
			li ESN reserves the right to exclude any attendant from the trip either because of inappropriate behaviour or lack of respect to the others or to the facilities.
			li If there is any problem external to ESN management, the association can not guarantee the refund of the money paid by the participants.
			li The trip is available exclusively for ESN members. Every student must have a valid ESN card when paying the trip in order to be able to apply for a place.
			li The participants shall know and respect the rules, regulations or conditions established by each of the providers of contracted services. ESN derives any responsibility, should these conditions not be met.
			li ESN is not responsible for the damages and troubles caused by a participant to any of the facilities during the whole length of the trip .
			li ESN declines any responsibility in case of damage, injury, death, accident, delay or irregularity of any student during the trip.
			li All participants of the trip must bear a valid passport or identity card, equipped with all visas and requirements.
			li ESN declines all responsibilities if an authority refuses to issue a visa, be it caused by not meeting any of the requirements or by defects in the passport, and any expense derived from this bureaucracy will be charged to the participant.
			li It is absolutely forbidden the intake of any narcotic substance (acid, opium, etc) classified as illegal in the Spanish penal code.
			li ESN is not responsible for loss, damage or theft of any ticket to the clubs, travel cards or any other good given to the participants. Should any of this circumstances be met, ESN not pay them back, nor will they be changed and neither can they be bought back again.
			li Participants shall follow the instructions of the ESN coordinators. The non-acceptance of these guidelines may result in the exclusion of the trip.
			li Attendance to the ESN Ibiza trip implies total acceptance of these terms and conditions.
