extends layout

block content
	.navbar.navbar-default.navbar-static-top(role='navigation')
		.container
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='#') Ibiza
			.navbar-collapse.collapse
				ul.nav.navbar-nav
					li.active
						a(href='/terms') Español
					li
						a(href='/terms/en') English

	.container
		h1 Terminos y Condiciones
		ul
			li Associació Erasmus Student Network UPC Escola Tècnica Superior d'Enginyeria, Industrial de Barcelona, Associació ESN (Erasmus Student Network) Pom, Erasmus Student Network Barcelona (Esn Barcelona) y Associació Juvenil "ESN (Erasmus Student Network) Ubersitat Central" serán referidas en adelante como ESN.
			li ESN no cede a terceros los datos personales de las personas registradas.
			li ESN solo hará uso de los datos personales para enviarle información sobre el viaje o de cualquier tipo siempre y cuando esta sea de su interés
			li Ninguna persona podrá subir al barco unque haya realizado el pago del importe del viaje, si antes no ha rellenado y firmado todos los documentos que se solicitan al hacer el registro.
			li El hecho de asistir al viaje implica la aceptación total de estos términos y condiciones
			li La cantidad de dinero reembolsada en caso de cancelación por causa justificada dependerá de la fecha en que la misma se produzca:
			ul
				li Hasta el 21 de Marzo se devolverá el 100% del importe
				li Hasta el 28 de Marzo se devolverá el 50% del importe
				li Posterior al 28 de Marzo no se devolverá ninguna parte del importe
			li La no asistencia al viaje implica la pérdida total del importe del mismo.
			li Los datos introducidos a la hora de realizar el registro deben ser válidos, en caso contrario, ESN no se responsabiliza de las consecuencias que puedan derivarse de los datos erróneos.
			li ESN no se hace responsable de robos o pérdidas de objetos durante el viaje.
			li ESN se reserva el derecho de modificar el programa de eventos para un mejor desarrollo de los mismos, o por cualquier otra causa justificada.
			li ESN tiene el derecho de expulsar del viaje a cualquier asistente que no respete a  los compañeros, resposables o las instalaciones.
			li En caso de cualquier problema ajeno a la gestión de ESN, ésta no podrá garantizar la devolución del dinero a los participantes.
			li Para obtener el descuento aplicable a los portadores de la ESN Card, ésta habrá de tenerse en el momento del pago. De no ser así no se aplicará el descuento.
			li Es un deber de los participantes el informarse y respetar las normas, reglas o condiciones establecidas por cada uno de los prestadores de los servicios contratados. ESN declina cualquier responsabilidad derivada del incumplimiento de los reglamentos. 
			li ESN no se hace responsable de los daños que un cliente ocasione en cualquiera de las instalaciones utilizadas durante el viaje.
			li ESN declina cualquier responsabilidad, en caso de que cualquiera de los participantes sufra daños, heridas, accidentes, fallecimiento, retrasos o irregularidades durante el viaje. 
			li ESN declina cualquier responsabilidad derivada del incumplimiento de los reglamentos, es responsabilidad del usuario estar informado sobre estas normativas.
			li Todos los participantes del viaje deberánir provistos de un pasaporte o DNI vigente, dotado de todos los visados y requisitos necesarios.
			li ESN declina toda responsabilidad en el caso de que alguna autoridad deniegue la concesión de visado, bien por carecer de alguno de los requisitos exigidos o por defectos en el pasaporte, y cualquier gasto originado será a cuenta del viajero.

